<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Big Win Casino</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    {{> nav}}
    
    <main>
        {{> header}}
            <section class="dashboard">

                <div class="block">
                    <div class="profile_info">
                        <div class="profile_inner">
                            <img src="/img/avatar_icon.webp" class="avatar">
                            <div class="user_info">
                                <p class="nickname">Nick: TwojaNazwa</p>
                                <p class="email">Email: emejl.emejl@emejl</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="change_avatar">
                        <h3 class="change_avatar_title">Change avatar</h3>
                        <form class="change_avatar_form">
                            <input class="file" type="file">
                            <button type="submit">Save</button>
                        </form>
                    </div>
                </div>

                <div class="block">
                    <div class="change_password">
                        <h3 class="change_password_title">Change password</h3>
                        <form class="change_password_form">
                            <input class="password" type="password" placeholder="Current password" required>
                            <input class="password" type="password" placeholder="New password" required>
                            <input class="password" type="password" placeholder="Repeat new password" required>
                            <button type="submit">Confirm</button>
                        </form>
                    </div>
                </div>

            </section>
            {{> footer}}
        </main>

        <script src="/js/index.js"></script>
</body>

</html>