<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Big Win Casino</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('../partials/nav') %>

<main>
    <section class="hero">
        <div class="header">
        <h1 class="title">BIG <br>WIN</h1>

        <section class="balance-card">
            <h2 class="balance">Balance</h2>
            <div class="amount">$2,450.75</div>
        </section>

        </div>

        <div class="button-grid">
            <a href="poker.ejs" class="button_game">
                <div class="inventory">
                <img src="/img/poker_banner1.webp" alt="poker" class="inventory-image">
                <!--        <button></button>-->
                </div>
            </a>
            <a href="poker.ejs" class="button_game">
                <div class="inventory">
                <img src="/img/poker_banner1.webp" alt="poker" class="inventory-image">
                <!--        <button></button>-->
                </div>
            </a>
            <a href="poker.ejs" class="button_game">
                <div class="inventory">
                <img src="/img/poker_banner1.webp" alt="poker" class="inventory-image">
                <!--        <button></button>-->
                </div>
            </a>

        </div>
    </section>
</main>


<script>

        let buttons = document.querySelectorAll('.button_game')
        let count = 0
        buttons.forEach(btn => {
            count++;
            if (count % 2 === 1){
                let lastBtn = buttons[buttons.length - 1];
                lastBtn.style.gridColumn = "span 2";
            }else{
                let lastBtn = buttons[buttons.length - 1];
                lastBtn.style.gridColumn = "span 1";
            }
        })
        console.log("Total buttons:", count);

        const toggleButton = document.getElementById("toggle-btn");
        const sidebar = document.getElementById("sidebar");

        function toggleSidebar() {
            sidebar.classList.toggle("close");
            toggleButton.classList.toggle("rotate");

            closeAllSubMenus();
        }

        function toggleSubMenu(button) {
            if (!button.nextElementSibling.classList.contains("show")) {
                closeAllSubMenus();
            }

            button.nextElementSibling.classList.toggle("show");
            button.classList.toggle("rotate");

            if (sidebar.classList.contains("close")) {
                sidebar.classList.toggle("close");
                toggleButton.classList.toggle("rotate");
            }
        }

        function closeAllSubMenus() {
            Array.from(sidebar.getElementsByClassName("show")).forEach((ul) => {
                ul.classList.remove("show");
                ul.previousElementSibling.classList.remove("rotate");
            });
        }


</script>

</body>
</html>    