<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Big Win Casino</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('../partials/nav') %>

<main>
    <section class="hero">
        <h1 class="title">Welcome to <br> Big Win Casino</h1>

        <div class="button-grid">
            <a href="poker.ejs" class="button_game">
                <div class="inventory">
                <img src="/img/poker_banner1.jpg" alt="poker" class="inventory-image">
                <!--        <button></button>-->
                </div>
            </a>
            <a href="poker.ejs" class="button_game">
                <div class="inventory">
                <img src="/img/poker_banner1.jpg" alt="poker" class="inventory-image">
                <!--        <button></button>-->
                </div>
            </a>
            <a href="poker.ejs" class="button_game">
                <div class="inventory">
                <img src="/img/poker_banner1.jpg" alt="poker" class="inventory-image">
                <!--        <button></button>-->
                </div>
            </a>

        </div>
    </section>
</main>

<%- include('../partials/footer') %>

<script>

        let buttons = document.querySelectorAll('.button_game')
        let count = 0
        buttons.forEach(btn => {
            count++;
            if (count % 2 === 1){
                let lastBtn = buttons[buttons.length - 1];
                lastBtn.style.gridColumn = "span 2";
            }else{
                let lastBtn = buttons[buttons.length - 1];
                lastBtn.style.gridColumn = "span 1";
            }
        })
        console.log("Total buttons:", count);

</script>

</body>
</html>    