<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Big Win Casino</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{> nav}}

<main>
    <section class="hero">
        {{> header}}

        <div class="button-grid">
            <a href="/poker" class="button_game">
                <div class="inventory">
                <img src="/img/poker_banner1.webp" alt="poker" class="inventory-image">
                <!--        <button></button>-->
                </div>
            </a>
            <a href="/poker" class="button_game">
                <div class="inventory">
                <img src="/img/poker_banner1.webp" alt="poker" class="inventory-image">
                <!--        <button></button>-->
                </div>
            </a>
            <a href="/poker" class="button_game">
                <div class="inventory">
                <img src="/img/poker_banner1.webp" alt="poker" class="inventory-image">
                <!--        <button></button>-->
                </div>
            </a>
            </a>
            <a href="/poker" class="button_game">
                <div class="inventory">
                    <img src="/img/poker_banner1.webp" alt="poker" class="inventory-image">
                    <!--        <button></button>-->
                </div>
            </a>
            </a>
            <a href="/poker" class="button_game">
                <div class="inventory">
                    <img src="/img/poker_banner1.webp" alt="poker" class="inventory-image">
                    <!--        <button></button>-->
                </div>
            </a>
            </a>
            <a href="/poker" class="button_game">
                <div class="inventory">
                    <img src="/img/poker_banner1.webp" alt="poker" class="inventory-image">
                    <!--        <button></button>-->
                </div>
            </a>
            </a>
            <a href="/poker" class="button_game">
                <div class="inventory">
                    <img src="/img/poker_banner1.webp" alt="poker" class="inventory-image">
                    <!--        <button></button>-->
                </div>
            </a>

        </div>
    </section>
    {{> footer}}
</main>

<script src="/js/index.js"></script>

</body>
</html>    