<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    
    <form class='login_box' method="post" action="/auth/login">
        <h3>Logging</h3>
        <input class='login' type="text" placeholder="Login" required name="email">
        <input class='password' type="password" placeholder="Password" name="password" required>
        <button class='submit_button' type='submit'>Confirm</button>
    </form>
    <% if (error_msg) { %>
        <h1><%= error_msg %></h1>
    <% } %>
    <% if (success_msg) { %>
        <h1><%= success_msg %></h1>
    <% } %>
</body>
</html>