<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Big Win Casino - Poker</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

{{> nav}}

<main>
    <section class="hero">
        {{> header}}

        <form action="/poker/game/create" method="post">
            <label for="tableName">Game name:</label>
            <input type="text" name="tableName" id="tableName"> <br>
            <label for="buyIn">Buy in value:</label>
            <input type="number" name="buyIn" id="buyIn" value="50"> <br>
            <label for="maxNumOfPlayers">Max num of players:</label>
            <input type="number" value="5" min="2" max="10" name="maxNumOfPlayers" id="maxNumOfPlayers">
            <input type="submit" value="Create Game">
        </form>
        <br>
        <form action="/poker/join/ox9ty2S6">
            <input type="submit" value="join">
        </form>
        {{#if flash.error_msg}}
            <p class="server-msg error">
                {{#each flash.error_msg}}{{this}}<br>{{/each}}
            </p>
        {{/if}}
        {{#if flash.success_msg}}
            <p class="server-msg success">
                {{#each flash.success_msg}}{{this}}<br>{{/each}}
            </p>
        {{/if}}
    </section>

    {{> footer}}
</main>

<script src="/js/index.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
</script>
</body>
</html>
