<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Poker | Big Win Casino</title>
  <link rel="stylesheet" href="/css/pokerGame.css" />
</head>
<body>
    <main class="poker-game">
        <div class="table">
            <div class="players-container" id="playersContainer"></div>

            <div class="deck">
                <img class="card" src="/img/deck/back_red.webp" alt="Deck">
            </div>

            <div class="board">
                <img class="card" src="/img/deck/heart_a_mobile.svg" alt="Card">
                <img class="card" src="/img/deck/heart_k_mobile.svg" alt="Card">
                <img class="card" src="/img/deck/diamond_q_mobile.svg" alt="Card">
                <img class="card" src="/img/deck/spade_j_mobile.svg" alt="Card">
                <img class="card" src="/img/deck/club_10_mobile.svg" alt="Card">
            </div>

            <div class="hand">
                <div class="player-hand">
                    <div class="player-card">
                        <img class="card front" src="/img/deck/back_red.webp" alt="Card back" />
                        <img class="card back" src="/img/deck/heart_a_mobile.svg" alt="Card front" />
                    </div>
                    <div class="player-card">
                        <img class="card front" src="/img/deck/back_red.webp" alt="Card back" />
                        <img class="card back" src="/img/deck/club_a_mobile.svg" alt="Card front" />
                    </div>
                </div>
            </div>
    </div>

    <div class="action-panel">
      <button class="fold">Fold</button>
      <button class="check">Check</button>
      <button class="raise">Raise</button>
    </div>
  </main>
  <script src="/js/pokerReveal.js"></script>
</body>
</html>
