<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Sign_In.css">
    <title>Document</title>
</head>
<body>
    <form class='register_box' action='/user/create' method='POST'>
    <h3>Register</h3>
    <input class='Username' type="text" placeholder="Username" required>
    <input class='email' type="text" placeholder="Email" required>
    <input class='password' type="password" placeholder="Password" required>
    <button class='submit_button' type='submit'>Sign In</button>
</form>
</body>
</html>