@use '../variables/colors' as *;
@use '../variables/mixin' as *;

.footer {
	position: relative;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	min-height: 50px;
	width: 100%;
	background-color: $background-color_footer;
	color: $text-color;
	font-weight: bold;
	padding: 1rem;

	@media (max-width: 600px) {
		flex-direction: column;
		text-align: center;
	}
}

.footer_image {
	height: 50px;
	width: 50px;

	@media (max-width: 600px) {
		height: 40px;
		width: 40px;
	}
}
