@use '../variables/colors' as *;
@use '../variables/mixin' as *;

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  z-index: 1000;
  padding: 1.5rem;
  background-color: $base_color;
  margin-bottom: 10px;
}

.title {
  font-size: 1.6rem;
  line-height: normal;
  text-align: center;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.balance-card {
  background-color: $balance_background;
  color: $header_text_color;
  max-width: 30vw;
  padding: 0.4rem;
  font-size: 0.9rem;
  line-height: 0.8rem;
  border-radius: 1em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: 600;
  width: clamp(160px, 25%, 300px);
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.balance {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.3em;
  color: $balance_text_color;
}

.amount {
  font-size: 0.9rem;
  font-weight: 700;
  color: $amount_color;
  overflow-wrap: break-word;
}

@media (min-width: 768px) {
  .amount {
    font-size: 1.2rem;
  }

  .balance {
    font-size: 1rem;
  }

  .balance-card {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .title {
    font-size: 2.2rem;
    line-height: 2rem;
  }
}