@use '../variables/colors' as *;
@use '../variables/mixin' as *;

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5rem;
}

body {
	min-height: 100vh;
	background-color: $base_color;
	color: $text-color;
	display: grid;
	grid-template-columns: auto 1fr;
}

.sidebar {
	box-sizing: border-box;
	height: 100vh;
	width: 250px;
	padding: 5px 1em;
	background-color: $base_color;
	border-right: 1px solid $line_color;
	position: sticky;
	top: 0;
	align-self: start;
	transition: 300ms ease-in-out;
	overflow: hidden;
	text-wrap: nowrap;

	&.close {
		padding: 5px;
		width: 60px;
	}

	.avatar{
		display: none;
	}

	.auth-buttons {
		display: inline-flex;
		justify-content: center;
		margin: 0.5rem 0;
	}

	.auth-button {
		padding: 0.4rem 1rem;
		margin: 0 0.5rem;
		font-size: 0.9rem;
		text-decoration: none;
		font-weight: 600;
		text-align: center;
	}


	ul {
		list-style: none;

		> li:first-child {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 16px;

			.logo {
				font-weight: 600;
			}
		}

		li.active a {
			color: $accent_color;

			svg {
				fill: $accent_color;
			}
		}
	}


	.link,
	.dropdown-btn,
	.account {
		border-radius: 0.5em;
		padding: 0.85em;
		text-decoration: none;
		color: $text-color;
		display: flex;
		align-items: center;
		gap: 1em;
	}

	.dropdown-btn {
		width: 100%;
		text-align: left;
		background: none;
		border: none;
		font: inherit;
		cursor: pointer;
	}

	svg {
		flex-shrink: 0;
		fill: $text-color;
	}

	.link_span{
		flex-grow: 1;
	}

	.link:hover {
		background-color: $hover_color;
	}

	.sub-menu {
		display: grid;
		grid-template-rows: 0fr;
		transition: 300ms ease-in-out;

		> div {
			overflow: hidden;
		}

		&.show {
			grid-template-rows: 1fr;
		}

		.link {
			padding-left: 2em;
		}
	}
}

.dropdown-btn svg {
	transition: 200ms ease;
}

.rotate svg:last-child {
	rotate: 180deg;
}

#toggle-btn {
	margin-left: auto;
	padding: 1em;
	border: none;
	border-radius: 0.5em;
	background: none;
	cursor: pointer;

	svg {
		transition: rotate 150ms ease;
	}

	&:hover {
		background-color: $hover_color;
	}
}



@media (max-width: 800px) {
	body {
		grid-template-columns: 1fr;
	}


	.sidebar {
		@include center;
		height: 60px;
		width: 100%;
		border-right: none;
		border-top: 1px solid $line_color;
		padding: 0;
		position: fixed;
		top: unset;
		bottom: 0;
		z-index: 2;

		> ul {
			padding: 0;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
		}

		ul {
			li {
				height: 100%;
			}

			a,
			.dropdown-btn {
				width: 60px;
				height: 60px;
				padding: 0;
				border-radius: 0;
				justify-content: center;
			}

			li span,
			li:first-child,
			.dropdown-btn svg:last-child {
				display: none;
			}

			li .sub-menu.show {
				position: fixed;
				bottom: 60px;
				left: 0;
				box-sizing: border-box;
				height: 60px;
				width: 100%;
				background-color: $hover_color;
				border-top: 1px solid $line_color;
				display: flex;
				justify-content: center;

				> div {
					overflow-x: auto;
				}

				li {
					display: inline-flex;
				}

				a {
					box-sizing: border-box;
					padding: 1em;
					width: auto;
					justify-content: center;
				}
			}
		}
	}
}
