@use '../variables/colors' as *;
@use '../variables/mixin' as *;

.hand {
  @include center;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  overflow: clip;
  width: 12rem;
  height: 9rem;
}

.player-hand {
  @include center;
  display: flex;
  gap: 0;
  position: relative;
}

.player-card {
  position: relative;
  width: 4rem;
  height: 6rem;
  transform: translate(-50%,-10%);
  transition: transform 0.4s ease;
  cursor: pointer;

  .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
  }

  .card:nth-child(1) {
    z-index: 2;
    transform: translateY(0);
  }

  .card:nth-child(2) {
    z-index: 1;
    transform: translateY(100%);
  }

  &:hover {
    .card:nth-child(1) {
      transform: translateY(100%);
    }
    .card:nth-child(2) {
      transform: translateY(0);
    }
  }
}

.first {
}

.second {
}
