.player-hand {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.player-card {
  text-align: center;
  position: relative;
  aspect-ratio: 1 / 1.4;
  width: 7vh;
  height: auto;
  perspective: 800px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-4%) ;
  }

  &.revealed {
    .front {
      transform: translateX(-50%) rotateY(0deg);
    }
    .back {
      transform: rotateY(180deg);
    }
  }
}

.front {
  transform: rotateY(180deg);
  z-index: 2;
}

.back {
  transform: translateX(-50%) rotateY(0deg);
  z-index: 1;
}

.hand-card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  backface-visibility: hidden;
  transition: transform 0.3s;
  transform-origin: 50% center;
  object-fit: contain;
}