<div class='footer'>
    <img src="/img/footer_image.webp" alt="" class='footer_image'>
    <p class='footer_text'>Website created by Daniel Marcin i Paweł</p>
    <img src="/img/footer_image.webp" alt="" class='footer_image'>
</div>
