<div class="header">
    <h1 id="title" class="title">
        <a href="/">BIG <br>WIN</a>
    </h1>

    {{#if isAuth}}
        <section class="balance-card">
            <h2 class="balance">Balance</h2>
            <div class="amount">${{ balance }}</div>
        </section>
    {{/if}}
</div>