<div class="header">
    <h1 id="title" class="title">
        <a href="/">BIG <br>WIN</a>
    </h1>


    <section class="balance-card">
        <h2 class="balance">Balance</h2>
        <div class="amount">$2,450.75</div>
    </section>

</div>