<div class='nav'>
    <div class='left_section'>
    <img src="/img/avatar_icon.png" alt="" class='avatar'>
    <p class='Nick'>Nick</p>
    <div class='balance_container'>
        <p class='balance_title'>Balance:</p>
        <div class='balance'></div>
    <div class='nav_links'>
        <a href="" class='nav_link'>Main Page</a> 
        <a href="" class='nav_link'>Poker</a>
    </div>
    </div>
    </div>
        <img src="/img/logo.png" alt="" class='logo'>
        <div class='right_section'>
            <a href="./login.ejs" class='Logout'>Logout</a>
            <a href="./sign_in.ejs" class='Sign-In'>Sign In</a>
        </div>
</div>

