@use 'components/nav';
@use 'components/footer';
@use 'components/header';
@use 'variables/reset';
@use 'variables/colors' as *;
@use 'variables/mixin' as *;

$font-stack: 'Arial', sans-serif;
$text-color: #ddd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
	font-family: $font-stack;
	background-color: $background-color;
	color: $text-color;
}

main {
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  @include center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  flex: 1;
}

.inventory {
  @include center;
  background-color: #2B0849;
  min-height: 100%;
  width: 100%;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;

  &-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 0;
  }

  & > *:not(&-image) {
    position: relative;
    z-index: 1;

  }
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  width: 60vw;
  padding: 2rem 0;
}

.button_game {
  height: 12rem;
  width: 100%;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 3vh;

  &:hover {
    animation: button_game_hover 0.3s ease-out forwards;
  }
}

@keyframes button_game_hover {
  0% {
    opacity: 1;
    scale: 1;
    box-shadow: 0 0 0 #fff;
  }
  100% {
    opacity: 0.6;
    scale: 1.01;
    box-shadow: 0 0 3px #fff;
  }
}

@media (max-width: 800px) {

  .button-grid {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 90vw;
    padding: 2rem 0;
  }

  .button_game {
    height: 10rem;
    font-size: 1.8rem;
  }

  .inventory {
    padding: 2rem 1rem;
  }

  body {
    font-size: 90%;
  }
}
