$nav_color:#7A1CAC;
$link_color:#dba3e2;
$text-color: #ddd;
$background-color_footer:#49555a;
$background_color: #22232b;
$shadow_color: #FFDD33;
$inputs_color:#ffffff;
$base_color: #11121a;
$line_color: #42434a;
$hover_color: #222533;
$accent_color: #5e63ff;
$sec_text_color: #b0b3c1;
$highlight: #fff;
$light_text_color: #111;
$clear_border: #fff;
$login_color: #fff;
$light_bg_color: #fff;
$light_link_color: #aad8d3;
$error_bg_color: #dfb0b5;
$error_color: #721c24;
$error_wrapper_color: #ff4d4f;
$error_border: #f5c6cb;
$success_bg_color: #d1dfc6;
$success_color: #155724;
$success_border: #c3e6cb;
$background_dark: #1a1a1a;
$panel_dark: #222;
$text_light: #e0e0e0;
$primary: #20beff;
$border_color: #333;