$nav_color:#7A1CAC;
$link_color:#dba3e2;
$text-color: #ddd;
$background-color_footer:#49555a;
$background_color: #22232b;
$shadow_color: #FFDD33;
$inputs_color:#ffffff;
$base_color: #11121a;
$line_color: #42434a;
$hover_color: #222533;
$accent_color: #5e63ff;
$sec_text_color: #b0b3c1;